h1 {
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#animal-img {
    border: 5px solid green;
    background-color: green;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    color: green;
    font-size: 1.2em;
    margin: 10px;
}

#button-feedback {
    font-family: "Helvetica", sans-serif;
    color: green;
    font-size: 1.2em;
}